# hidden files
.*

# python cache
__pycache__/

# Pip
Pip*

# my junk files
out*
draft*
some*

# compiled c file
*.dll
*.so

# default name for decrypted contacts file
tgsend.contacts.decrypted

# folder with testing files
examples/
